
    <div class="container" style="padding-top:60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Hi,my name is Vu Duc Thuan Tran. My student id is 121804223. I'm from CPA program.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon<h2>
          <p>Stay tuned for future updates...</p>
        </aside>
      </div>
    </div>

   